{% extends "base_html.html" %}
{% block title %}Детальный обзор{% endblock %}
{% block content %}
    <h3 class="card-title">Название:{{ todo.title }}</h3>
    <h6>Статус:{{ todo.status.title }}</h6>
    <h6>Тип:{{ todo.type_todo.title }}</h6>
    <p class="card-text">Заголовок:{{ todo.short_description }}</p>
    <p class="card-text">Описание:{{ todo.description }}</p>
    <h6>Дата создания:{{ todo.created_date | date:"Y-m-d" }}</h6>
    <h6>Дата изменения:{{ todo.updated_at | date:"Y-m-d" }}</h6>
    <a href="{% url "delete_todo" todo.pk %}"><button>Удалить</button></a>
    <a href="{% url "home" %}" class="card-link"><button>На Главную</button></a>

{% endblock %}