{% extends "base_html.html" %}
{% block title %}Детальный обзор{% endblock %}
{% block content %}
    <h3 class="card-title">Название:{{ todo.title }}</h3>
    <h6>Статус:{{ todo.get_status_display }}</h6>
    <p class="card-text">Описание:{{ todo.description }}</p>
    <p>Детальное описание:{{ todo.description1 }}</p>
    <h6>Дата создания:{{ todo.created_date | date:"Y-m-d" }}</h6>
    <h6>Дата изменения:{{ todo.updated_at | date:"Y-m-d" }}</h6>
    <h6>Дата завершения:{{ todo.end_date | date:"Y-m-d" }}</h6>
    <a href="delete/?id={{ todo.id }}"
    <a href="{% url "home" %}" class="card-link">Назад</a>

{% endblock %}