{% extends "base_html.html" %}
{% load static %}
{% block content %}

<h1>Задачи</h1>

<a href="{% url "add_todo" %}"><button>Создать новую задачу</button></a>
<br>
{% for todo in todos %}
    <h2>Название:{{ todo.title }}</h2>
    <h6>Статус:{{ todo.status.title }}</h6>
    <h6>Тип:{{ todo.type_todo.title }}</h6>
    <p>Заголовок:{{todo.short_description}}</p>
    <p>Детальное описание:{{ todo.description }}</p>
    <h6 class="card-subtitle mb-2 text-body-secondary">Дата создания:{{ todo.created_date | date:"d-F-y" }}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Дата изменениия:{{ todo.updated_at | date:"d-F-y"}}</h6>
    <a href="{% url "detail_todo" todo.pk %}"><button>Детальный Обзор</button></a><br/>
    <a href="{% url "delete_todo" todo.pk %}"><button>Удалить</button></a>,<br/>
    <a href="{% url "todo_update" todo.pk %}"><button>Редактирование</button></a><br/>
{% endfor %}



{% endblock %}










