{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>

<h1>Задачи</h1>

<a href="todo/add/">Создать новую задачу</a>
<br>
{% for todo in todos %}
    <h2>Название:{{ todo.title }}</h2>
    <h6>Статус:{{ todo.get_status_display }}</h6>
    <p>Описание:{{todo.description}}</p>
    <h6 class="card-subtitle mb-2 text-body-secondary">Дата создания:{{ todo.created_date | date:"d-F-y" }}</h6>
    <h6 class="card-subtitle mb-2 text-body-secondary">Дата завершения:{{ todo.end_date | date:"d-F-y"}}</h6>
    <a href="todo/{{ todo.id }}">Детальный обзор</a>
    <a href="todo/delete/?id={{ todo.id }}">Удалить</a>
{% endfor %}












</body>
</html>