{% extends "base_html.html" %}
{% load static %}
{% block content %}

<h1>Проекты</h1>

<a href="{% url "create_project" %}"><button>Создать новый проект</button></a>
<br>
    {% if is_paginated %}
        {% include 'partial/paginator.html'%}

{%endif%}
{% for project in projects %}
    <div class="card mb-3">
  <h5 class="card-header">Название:{{ project.project_title }}</h5>
  <div class="card-body">
    <p class="card-text">Описание:{{ project.project_description }}</p>
      <p>Дата начала:{{ project.project_created_data | date:"d-F-y" }}</p>
      <p>Дата окончания:{{ project.project_finish_data | date:"d-F-y"}}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{#    <h2>Название:{{ project.project_title }}</h2>#}
{#    <p>Описание:{{ project.project_description }}</p>#}
{#    <h6 class="card-subtitle mb-2 text-body-secondary">Дата начала:{{ project.project_created_data | date:"d-F-y" }}</h6>#}
{#    <h6 class="card-subtitle mb-2 text-body-secondary">Дата окончания:{{ project.project_finish_data | date:"d-F-y"}}</h6>#}
{#    <a href="{% url "detail_project" project.pk %}"><button>Детальный Обзор</button></a><br/>#}
{#    <a href="{% url "delete_project" project.pk %}"><button>Удалить</button></a>,<br/>#}
{#    <a href="{% url "update_project" project.pk %}"><button>Редактирование</button></a><br/>#}
{% endfor %}
    {% if is_paginated%}
        {% include 'partial/paginator.html'%}

{%endif%}


{% endblock %}



